-- MariaDB dump 10.17  Distrib 10.4.14-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: mini_opti_tracker
-- ------------------------------------------------------
-- Server version	10.4.14-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `kategori_pengujian`
--

DROP TABLE IF EXISTS `kategori_pengujian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kategori_pengujian` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nama_kategori` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('aktif','nonaktif') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'aktif',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kategori_pengujian`
--

LOCK TABLES `kategori_pengujian` WRITE;
/*!40000 ALTER TABLE `kategori_pengujian` DISABLE KEYS */;
/*!40000 ALTER TABLE `kategori_pengujian` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kontrak_pks`
--

DROP TABLE IF EXISTS `kontrak_pks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kontrak_pks` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `po_id` int(11) NOT NULL,
  `nomor_pks_klien` varchar(100) NOT NULL,
  `nomor_pks_bbspjis` varchar(100) NOT NULL,
  `nama_penandatangan_klien` varchar(100) NOT NULL,
  `jabatan_penandatangan_klien` varchar(100) NOT NULL,
  `nama_penandatangan_bbspjis` varchar(100) NOT NULL,
  `jabatan_penandatangan_bbspjis` varchar(100) NOT NULL,
  `ruang_lingkup` text NOT NULL,
  `target_mulai` date NOT NULL,
  `target_selesai` date NOT NULL,
  `nilai_kontrak` decimal(15,2) DEFAULT 0.00,
  `ketentuan_pembayaran` text DEFAULT NULL,
  `nomor_va` varchar(50) DEFAULT NULL,
  `tanggal_ttd` date DEFAULT NULL,
  `status_ttd` enum('belum','sudah') DEFAULT 'belum',
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `po_id` (`po_id`),
  CONSTRAINT `kontrak_pks_ibfk_1` FOREIGN KEY (`po_id`) REFERENCES `po` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kontrak_pks`
--

LOCK TABLES `kontrak_pks` WRITE;
/*!40000 ALTER TABLE `kontrak_pks` DISABLE KEYS */;
INSERT INTO `kontrak_pks` VALUES (1,1,'089/DIR-SMS/PKS/VIII/2026','102/PKS/BBSPJIS/VIII/2026','Ir. Hendra Gunawan','Direktur Utama','Andri T.','Kepala Balai Besar','Penyelenggaraan Jasa Optimalisasi Pemanfaatan Teknologi Industri Pembuatan & Pemutihan Pulp Kayu Akasia','2026-08-15','2026-11-15',25000000.00,'Pembayaran termin: DP 40% di awal, 60% setelah BAST diterbitkan.','896081232370878','2026-08-15','sudah','2026-08-24 09:25:35');
/*!40000 ALTER TABLE `kontrak_pks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metode_uji`
--

DROP TABLE IF EXISTS `metode_uji`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `metode_uji` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `kategori_id` int(11) NOT NULL,
  `nama_metode` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi_kegunaan` text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `peralatan` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `durasi_nilai` int(11) NOT NULL DEFAULT 1,
  `durasi_satuan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Bulan',
  `butuh_eksternal` tinyint(1) NOT NULL DEFAULT 0,
  `harga` decimal(15,2) NOT NULL DEFAULT 0.00,
  `jumlah_sampel` int(11) NOT NULL DEFAULT 1,
  `status` enum('aktif','nonaktif') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'aktif',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_kategori_id` (`kategori_id`),
  CONSTRAINT `fk_metode_kategori` FOREIGN KEY (`kategori_id`) REFERENCES `kategori_pengujian` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metode_uji`
--

LOCK TABLES `metode_uji` WRITE;
/*!40000 ALTER TABLE `metode_uji` DISABLE KEYS */;
/*!40000 ALTER TABLE `metode_uji` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `opti_bast`
--

DROP TABLE IF EXISTS `opti_bast`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `opti_bast` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_id` int(11) NOT NULL,
  `po_id` int(11) DEFAULT NULL,
  `nomor_bast` varchar(100) NOT NULL,
  `tanggal_bast` date NOT NULL,
  `pihak_pertama_nama` varchar(100) NOT NULL DEFAULT 'Kepala BBSPJIS',
  `pihak_pertama_jabatan` varchar(100) NOT NULL DEFAULT 'Kepala Balai Besar',
  `pihak_kedua_nama` varchar(100) NOT NULL,
  `pihak_kedua_jabatan` varchar(100) NOT NULL,
  `judul_pekerjaan` varchar(255) NOT NULL,
  `ringkasan_serah_terima` text DEFAULT NULL,
  `file_dokumen_bast` varchar(255) DEFAULT NULL,
  `status_bast` enum('draft','proses_ttd','selesai') DEFAULT 'draft',
  `status_penutupan` enum('aktif','selesai_diarsipkan') DEFAULT 'aktif',
  `catatan_penutupan` text DEFAULT NULL,
  `closed_by` int(11) DEFAULT NULL,
  `closed_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `nomor_bast` (`nomor_bast`),
  KEY `order_id` (`order_id`),
  KEY `po_id` (`po_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `opti_bast`
--

LOCK TABLES `opti_bast` WRITE;
/*!40000 ALTER TABLE `opti_bast` DISABLE KEYS */;
/*!40000 ALTER TABLE `opti_bast` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `opti_field_config`
--

DROP TABLE IF EXISTS `opti_field_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `opti_field_config` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `jenis_layanan_opti` enum('selulosa','lingkungan','global') NOT NULL DEFAULT 'global',
  `entity` varchar(50) NOT NULL,
  `field_name` varchar(100) NOT NULL,
  `field_label` varchar(150) NOT NULL,
  `is_visible` tinyint(1) DEFAULT 1,
  `is_required` tinyint(1) DEFAULT 0,
  `default_value` varchar(255) DEFAULT NULL,
  `mask_for_privacy` tinyint(1) DEFAULT 0,
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `opti_field_config`
--

LOCK TABLES `opti_field_config` WRITE;
/*!40000 ALTER TABLE `opti_field_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `opti_field_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `opti_invoice`
--

DROP TABLE IF EXISTS `opti_invoice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `opti_invoice` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_id` int(11) NOT NULL,
  `po_id` int(11) DEFAULT NULL,
  `nomor_invoice` varchar(100) NOT NULL,
  `tanggal_invoice` date NOT NULL,
  `jatuh_tempo` date NOT NULL,
  `nominal_tagihan` decimal(15,2) NOT NULL DEFAULT 0.00,
  `keterangan_termin` varchar(255) DEFAULT NULL,
  `status_pembayaran` enum('belum_bayar','sebagian','lunas') DEFAULT 'belum_bayar',
  `file_invoice` varchar(255) DEFAULT NULL,
  `dibuat_oleh` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `nomor_invoice` (`nomor_invoice`),
  KEY `idx_order` (`order_id`),
  KEY `idx_po` (`po_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `opti_invoice`
--

LOCK TABLES `opti_invoice` WRITE;
/*!40000 ALTER TABLE `opti_invoice` DISABLE KEYS */;
/*!40000 ALTER TABLE `opti_invoice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `opti_kalkulasi_uji_lingkungan`
--

DROP TABLE IF EXISTS `opti_kalkulasi_uji_lingkungan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `opti_kalkulasi_uji_lingkungan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_id` int(11) NOT NULL,
  `sub_layanan` enum('uji_laboratorium','lpv','kajian_lab','konsultansi') DEFAULT 'uji_laboratorium',
  `metode_uji_id` int(11) DEFAULT NULL,
  `nama_pengujian` varchar(200) NOT NULL,
  `standar_rujukan` varchar(100) DEFAULT NULL,
  `tarif_per_sampel` decimal(15,2) NOT NULL DEFAULT 0.00,
  `jumlah_sampel` int(11) NOT NULL DEFAULT 1,
  `total_biaya_item` decimal(15,2) NOT NULL DEFAULT 0.00,
  `durasi_bulan` int(11) NOT NULL DEFAULT 1,
  `is_subkontrak` tinyint(1) DEFAULT 0,
  `lab_eksternal_id` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_order_id` (`order_id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `opti_kalkulasi_uji_lingkungan`
--

LOCK TABLES `opti_kalkulasi_uji_lingkungan` WRITE;
/*!40000 ALTER TABLE `opti_kalkulasi_uji_lingkungan` DISABLE KEYS */;
INSERT INTO `opti_kalkulasi_uji_lingkungan` VALUES (1,20,'uji_laboratorium',NULL,'Uji Biodegradasi Plastik dalam Tanah','ASTM D5988',1500000.00,5,7500000.00,9,0,NULL,'2026-08-26 15:30:31'),(2,20,'uji_laboratorium',NULL,'Uji Toksikologi Akut Oral (LD-50)','OECD 423 / SNI',2000000.00,2,4000000.00,3,1,1,'2026-08-26 15:30:31');
/*!40000 ALTER TABLE `opti_kalkulasi_uji_lingkungan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `opti_pembayaran`
--

DROP TABLE IF EXISTS `opti_pembayaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `opti_pembayaran` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_id` int(11) NOT NULL,
  `po_id` int(11) DEFAULT NULL,
  `invoice_id` int(11) DEFAULT NULL,
  `termin_ke` int(11) NOT NULL DEFAULT 1,
  `tanggal_bayar` date NOT NULL,
  `jumlah` decimal(15,2) NOT NULL DEFAULT 0.00,
  `metode_pembayaran` varchar(100) DEFAULT 'transfer_bank',
  `nomor_transaksi_ntpn` varchar(100) DEFAULT NULL,
  `keterangan` varchar(255) DEFAULT NULL,
  `bukti_bayar` varchar(255) DEFAULT NULL,
  `status_verifikasi` enum('menunggu','terverifikasi','ditolak') DEFAULT 'terverifikasi',
  `verifikator_id` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `order_id` (`order_id`),
  KEY `po_id` (`po_id`),
  CONSTRAINT `opti_pembayaran_ibfk_1` FOREIGN KEY (`order_id`) REFERENCES `order_layanan` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `opti_pembayaran_ibfk_2` FOREIGN KEY (`po_id`) REFERENCES `po` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `opti_pembayaran`
--

LOCK TABLES `opti_pembayaran` WRITE;
/*!40000 ALTER TABLE `opti_pembayaran` DISABLE KEYS */;
INSERT INTO `opti_pembayaran` VALUES (1,1,1,NULL,1,'2026-08-15',10000000.00,'transfer_bank',NULL,'Pembayaran Uang Muka (DP 40%) via VA Bank Mandiri',NULL,'terverifikasi',NULL,'2026-08-24 09:25:35'),(2,3,2,NULL,1,'2026-08-18',15000000.00,'transfer_bank',NULL,'Pembayaran Tahap 1 Persiapan Sampling Lapangan',NULL,'terverifikasi',NULL,'2026-08-24 09:25:35');
/*!40000 ALTER TABLE `opti_pembayaran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `opti_po_jadwal_kerja`
--

DROP TABLE IF EXISTS `opti_po_jadwal_kerja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `opti_po_jadwal_kerja` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `po_id` int(11) NOT NULL,
  `personil_anggota` varchar(100) NOT NULL,
  `tahap_kegiatan` varchar(200) NOT NULL,
  `tanggal_mulai` date NOT NULL,
  `tanggal_selesai` date NOT NULL,
  `status_pekerjaan` enum('rencana','berjalan','selesai') DEFAULT 'rencana',
  `keterangan` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `po_id` (`po_id`),
  CONSTRAINT `opti_po_jadwal_kerja_ibfk_1` FOREIGN KEY (`po_id`) REFERENCES `po` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `opti_po_jadwal_kerja`
--

LOCK TABLES `opti_po_jadwal_kerja` WRITE;
/*!40000 ALTER TABLE `opti_po_jadwal_kerja` DISABLE KEYS */;
/*!40000 ALTER TABLE `opti_po_jadwal_kerja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `opti_po_sop_progress`
--

DROP TABLE IF EXISTS `opti_po_sop_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `opti_po_sop_progress` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `po_id` int(11) NOT NULL,
  `tahap_no` int(11) NOT NULL,
  `fase` enum('persiapan','pelaksanaan','pengesahan','bast') NOT NULL DEFAULT 'persiapan',
  `nama_aktivitas` varchar(255) NOT NULL,
  `pelaksana_kode` varchar(50) NOT NULL,
  `pelaksana_label` varchar(100) NOT NULL,
  `mutu_kelengkapan` varchar(255) NOT NULL,
  `mutu_waktu` varchar(100) NOT NULL,
  `mutu_output` varchar(255) NOT NULL,
  `keterangan` varchar(255) DEFAULT NULL,
  `is_decision` tinyint(1) DEFAULT 0,
  `status` enum('menunggu','berjalan','selesai','revisi','dilewati') DEFAULT 'menunggu',
  `catatan` text DEFAULT NULL,
  `verified_by` varchar(100) DEFAULT NULL,
  `verified_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_po_tahap` (`po_id`,`tahap_no`),
  KEY `idx_po_fase` (`po_id`,`fase`),
  CONSTRAINT `opti_po_sop_progress_ibfk_1` FOREIGN KEY (`po_id`) REFERENCES `po` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=305 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `opti_po_sop_progress`
--

LOCK TABLES `opti_po_sop_progress` WRITE;
/*!40000 ALTER TABLE `opti_po_sop_progress` DISABLE KEYS */;
/*!40000 ALTER TABLE `opti_po_sop_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `opti_proposal_riset`
--

DROP TABLE IF EXISTS `opti_proposal_riset`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `opti_proposal_riset` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_id` int(11) NOT NULL,
  `pic_penyusun_id` int(11) DEFAULT NULL,
  `spesialisasi` varchar(100) DEFAULT NULL,
  `judul_proposal` varchar(255) DEFAULT NULL,
  `ruang_lingkup` text DEFAULT NULL,
  `durasi_kegiatan` varchar(50) DEFAULT NULL,
  `estimasi_total_biaya` decimal(15,2) DEFAULT 0.00,
  `file_proposal` varchar(255) DEFAULT NULL,
  `status_proposal` enum('draft','diajukan','disetujui_ketua','disetujui_pimpinan','ditolak') DEFAULT 'draft',
  `catatan_revisi` text DEFAULT NULL,
  `disetujui_ketua_at` datetime DEFAULT NULL,
  `disetujui_pimpinan_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_order_id` (`order_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `opti_proposal_riset`
--

LOCK TABLES `opti_proposal_riset` WRITE;
/*!40000 ALTER TABLE `opti_proposal_riset` DISABLE KEYS */;
INSERT INTO `opti_proposal_riset` VALUES (1,19,9011,'Pemasakan Pulp','Proposal Teknis Riset Optimasi Pulping Kayu Sengon','Analisis rendemen dan konsumsi alkali aktif 18%','3 bulan',25000000.00,'uploads/proposal/sample_selulosa.pdf','disetujui_pimpinan','',NULL,'2026-08-26 15:30:31','2026-08-26 15:30:31'),(8,1,1,'Pemasakan & Biomaterial','Riset Formulasi Selulosa Uji Coba Dual Workflow','Tahap 1 Uji Lab Awal, Tahap 2 Optimasi Dosis','3 bulan',15000000.00,'','disetujui_pimpinan','',NULL,'2026-08-28 15:05:19','2026-08-28 15:05:19');
/*!40000 ALTER TABLE `opti_proposal_riset` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `opti_tinjauan_kelayakan`
--

DROP TABLE IF EXISTS `opti_tinjauan_kelayakan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `opti_tinjauan_kelayakan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_id` int(11) NOT NULL,
  `sdm_tersedia` tinyint(1) NOT NULL DEFAULT 1,
  `sdm_catatan` varchar(255) DEFAULT NULL,
  `peralatan_tersedia` tinyint(1) NOT NULL DEFAULT 1,
  `peralatan_catatan` varchar(255) DEFAULT NULL,
  `bahan_tersedia` tinyint(1) NOT NULL DEFAULT 1,
  `bahan_catatan` varchar(255) DEFAULT NULL,
  `metode_tersedia` tinyint(1) NOT NULL DEFAULT 1,
  `metode_catatan` varchar(255) DEFAULT NULL,
  `keputusan` enum('dapat_dilaksanakan','tidak_dapat_dilaksanakan') NOT NULL,
  `alasan_penolakan` text DEFAULT NULL,
  `ditinjau_oleh` int(11) NOT NULL,
  `tanggal_tinjauan` datetime NOT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_order_id` (`order_id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `opti_tinjauan_kelayakan`
--

LOCK TABLES `opti_tinjauan_kelayakan` WRITE;
/*!40000 ALTER TABLE `opti_tinjauan_kelayakan` DISABLE KEYS */;
INSERT INTO `opti_tinjauan_kelayakan` VALUES (1,19,1,'Tim spesialis pemasakan pulp siap',1,'Digester mini rotary lab siap',1,'Bahan kimia NaOH dan Na2S mencukupi',1,'Metode SNI ISO terakreditasi','dapat_dilaksanakan','',9007,'2026-08-26 15:30:31','2026-08-26 15:30:31'),(2,20,1,'',1,'',1,'',1,'','dapat_dilaksanakan','',9007,'2026-08-26 15:30:31','2026-08-26 15:30:31');
/*!40000 ALTER TABLE `opti_tinjauan_kelayakan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `opti_user_alert_config`
--

DROP TABLE IF EXISTS `opti_user_alert_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `opti_user_alert_config` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_user` int(11) NOT NULL,
  `alert_key` varchar(50) NOT NULL,
  `is_enabled` tinyint(1) DEFAULT 1,
  `threshold_days` int(11) DEFAULT 3,
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `id_user` (`id_user`,`alert_key`),
  KEY `idx_alert_user` (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `opti_user_alert_config`
--

LOCK TABLES `opti_user_alert_config` WRITE;
/*!40000 ALTER TABLE `opti_user_alert_config` DISABLE KEYS */;
INSERT INTO `opti_user_alert_config` VALUES (1,1,'alert_pembayaran_pending',1,7,'2026-08-24 09:25:35'),(2,2,'alert_po_deadline',1,5,'2026-08-24 09:25:35'),(3,3,'alert_po_deadline',1,5,'2026-08-24 09:25:35'),(4,4,'alert_approval_needed',1,2,'2026-08-24 09:25:35'),(5,9006,'alert_po_deadline',1,3,'2026-08-24 10:22:10'),(6,9006,'alert_pembayaran_pending',1,3,'2026-08-24 10:22:10'),(7,9006,'alert_approval_needed',1,3,'2026-08-24 10:22:10');
/*!40000 ALTER TABLE `opti_user_alert_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `opti_user_map`
--

DROP TABLE IF EXISTS `opti_user_map`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `opti_user_map` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_user` int(11) NOT NULL,
  `jenis_layanan_opti` enum('selulosa','lingkungan','semua') DEFAULT 'semua',
  `role_opti` enum('admin_order','ketua_tim','pejabat','tim_kerja','admin_kontrak','tim_mitra','superadmin') NOT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `id_user` (`id_user`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `opti_user_map`
--

LOCK TABLES `opti_user_map` WRITE;
/*!40000 ALTER TABLE `opti_user_map` DISABLE KEYS */;
/*!40000 ALTER TABLE `opti_user_map` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_layanan`
--

DROP TABLE IF EXISTS `order_layanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `order_layanan` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `id_customer` int(11) NOT NULL,
  `nomor_order` varchar(50) NOT NULL,
  `tanggal_masuk` date NOT NULL,
  `judul_kegiatan` varchar(200) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  `spm_layanan` varchar(150) NOT NULL DEFAULT 'Lainnya',
  `jenis_layanan_opti` enum('selulosa','lingkungan','belum_ditentukan') DEFAULT 'belum_ditentukan',
  `status_rancop` enum('draft','diskusi','deal','batal') NOT NULL DEFAULT 'draft',
  `log_diskusi_klien` text DEFAULT NULL,
  `tahapan_riset_json` longtext DEFAULT NULL,
  `lokasi_pelaksanaan` enum('internal','lapangan') NOT NULL DEFAULT 'internal',
  `lab_internal` varchar(100) DEFAULT NULL,
  `lokasi_lapangan` text DEFAULT NULL,
  `tipe_data_sampel` varchar(100) DEFAULT NULL,
  `jenis_sampel` varchar(150) DEFAULT NULL,
  `tanggal_terima_sampel` date DEFAULT NULL,
  `volume_berat` varchar(100) DEFAULT NULL,
  `karakteristik_serat` text DEFAULT NULL,
  `karakteristik_kimia` text DEFAULT NULL,
  `jumlah_pekerjaan` varchar(100) NOT NULL,
  `estimasi_biaya` decimal(15,2) DEFAULT 0.00,
  `diskon_penawaran` decimal(15,2) DEFAULT 0.00,
  `status` enum('permintaan_masuk','baru','disetujui','ditolak','selesai') NOT NULL DEFAULT 'permintaan_masuk',
  `status_tinjauan` enum('belum_ditinjau','layak','tidak_layak') DEFAULT 'belum_ditinjau',
  `status_proposal_biaya` enum('draft','menunggu_approval','siap_penawaran') DEFAULT 'draft',
  `status_penawaran` enum('belum_ada','draft','terkirim','nego','deal','batal') DEFAULT 'belum_ada',
  `status_keuangan` enum('belum_ditagih','menunggu_pembayaran','terbayar_sebagian','lunas') DEFAULT 'belum_ditagih',
  `status_pelaksanaan` enum('belum_mulai','sedang_berjalan','evaluasi_laporan','revisi_laporan','laporan_selesai') DEFAULT 'belum_mulai',
  `diklaim_oleh` int(11) DEFAULT NULL,
  `pic_proposal_id` int(11) DEFAULT NULL,
  `surat_penawaran_id` int(11) DEFAULT NULL,
  `tanggal_klaim` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `id_surat_masuk` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nomor_order` (`nomor_order`),
  KEY `idx_order_customer` (`id_customer`),
  KEY `fk_order_surat_masuk` (`id_surat_masuk`)
) ENGINE=InnoDB AUTO_INCREMENT=148 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_layanan`
--

LOCK TABLES `order_layanan` WRITE;
/*!40000 ALTER TABLE `order_layanan` DISABLE KEYS */;
/*!40000 ALTER TABLE `order_layanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengujian_eksternal`
--

DROP TABLE IF EXISTS `pengujian_eksternal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengujian_eksternal` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `metode_id` int(11) NOT NULL,
  `nama_lembaga` varchar(255) NOT NULL,
  `alamat` text DEFAULT NULL,
  `pic_nama` varchar(150) DEFAULT NULL,
  `pic_kontak` varchar(100) DEFAULT NULL,
  `no_akreditasi` varchar(100) DEFAULT NULL,
  `estimasi_biaya` decimal(15,2) DEFAULT 0.00,
  `estimasi_nilai` int(11) DEFAULT 1,
  `estimasi_satuan` varchar(50) DEFAULT 'Bulan',
  `keterangan` text DEFAULT NULL,
  `status` enum('aktif','nonaktif') DEFAULT 'aktif',
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_metode_id` (`metode_id`),
  CONSTRAINT `fk_pe_metode` FOREIGN KEY (`metode_id`) REFERENCES `metode_uji` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengujian_eksternal`
--

LOCK TABLES `pengujian_eksternal` WRITE;
/*!40000 ALTER TABLE `pengujian_eksternal` DISABLE KEYS */;
INSERT INTO `pengujian_eksternal` VALUES (1,1,'Laboratorium Uji Terpadu IPB','Kampus IPB Dramaga, Bogor','Dr. Ir. Budi Santoso','081234567890','LP-123-IDN',1500000.00,14,'Hari','Rujukan uji instrumen ICP-MS dan GC-MS','aktif','2026-08-26 08:32:21','2026-08-26 08:32:21');
/*!40000 ALTER TABLE `pengujian_eksternal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `po`
--

DROP TABLE IF EXISTS `po`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `po` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_id` int(11) NOT NULL,
  `nomor_po` varchar(50) NOT NULL,
  `biaya` decimal(15,2) DEFAULT 0.00,
  `tim_kerja` varchar(150) DEFAULT NULL,
  `status` enum('belum_upload','sudah_upload','on_proses','kembali_selesai') DEFAULT 'belum_upload',
  `tanggal_keluar` date DEFAULT NULL,
  `tanggal_kembali` date DEFAULT NULL,
  `target_mulai` date DEFAULT NULL,
  `target_selesai` date DEFAULT NULL,
  `realisasi_selesai` date DEFAULT NULL,
  `auto_realisasi_dari_upload` tinyint(1) DEFAULT 0,
  `app_proposal` tinyint(1) DEFAULT 0,
  `app_proposal_date` datetime DEFAULT NULL,
  `app_proposal_val` tinyint(1) DEFAULT 0,
  `app_proposal_val_date` datetime DEFAULT NULL,
  `app_kontrak` tinyint(1) DEFAULT 0,
  `app_kontrak_date` datetime DEFAULT NULL,
  `app_kontrak_val` tinyint(1) DEFAULT 0,
  `app_kontrak_val_date` datetime DEFAULT NULL,
  `app_po_adm` tinyint(1) DEFAULT 0,
  `app_po_adm_date` datetime DEFAULT NULL,
  `app_po_mitra` tinyint(1) DEFAULT 0,
  `app_po_mitra_date` datetime DEFAULT NULL,
  `app_po_ppk` tinyint(1) DEFAULT 0,
  `app_po_ppk_date` datetime DEFAULT NULL,
  `app_po_kabag` tinyint(1) DEFAULT 0,
  `app_po_kabag_date` datetime DEFAULT NULL,
  `app_dist_tu` tinyint(1) DEFAULT 0,
  `app_dist_tu_date` datetime DEFAULT NULL,
  `app_dist_kepeg` tinyint(1) DEFAULT 0,
  `app_dist_kepeg_date` datetime DEFAULT NULL,
  `app_dist_keu` tinyint(1) DEFAULT 0,
  `app_dist_keu_date` datetime DEFAULT NULL,
  `evaluasi_status` enum('pending','disetujui','perlu_revisi') DEFAULT 'pending',
  `notulen_evaluasi` text DEFAULT NULL,
  `tgl_evaluasi` date DEFAULT NULL,
  `laporan_akhir` text DEFAULT NULL,
  `nomor_laporan_hasil` varchar(100) DEFAULT NULL,
  `file_draf_laporan` varchar(255) DEFAULT NULL,
  `file_laporan_final` varchar(255) DEFAULT NULL,
  `catatan_revisi_laporan` text DEFAULT NULL,
  `bast_dokumen` varchar(255) DEFAULT NULL,
  `tgl_bast` date DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `order_id` (`order_id`),
  UNIQUE KEY `nomor_po` (`nomor_po`),
  CONSTRAINT `po_ibfk_1` FOREIGN KEY (`order_id`) REFERENCES `order_layanan` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `po`
--

LOCK TABLES `po` WRITE;
/*!40000 ALTER TABLE `po` DISABLE KEYS */;
/*!40000 ALTER TABLE `po` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `po_log_status`
--

DROP TABLE IF EXISTS `po_log_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `po_log_status` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `po_id` int(11) NOT NULL,
  `status_lama` varchar(50) DEFAULT NULL,
  `status_baru` varchar(50) NOT NULL,
  `catatan` varchar(255) DEFAULT NULL,
  `tanggal` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `po_id` (`po_id`),
  CONSTRAINT `po_log_status_ibfk_1` FOREIGN KEY (`po_id`) REFERENCES `po` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=330 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `po_log_status`
--

LOCK TABLES `po_log_status` WRITE;
/*!40000 ALTER TABLE `po_log_status` DISABLE KEYS */;
INSERT INTO `po_log_status` VALUES (1,1,NULL,'belum_upload','PO diterbitkan otomatis dari Order Layanan ORD-202608-001.','2026-08-14 14:00:00'),(2,1,'belum_upload','on_proses','Proposal dan dokumen PO diverifikasi, pelaksanaan dimulai.','2026-08-15 09:30:00'),(25,4,NULL,'belum_upload','PO otomatis diterbitkan dari Order Layanan yang telah disetujui.','2026-08-26 03:32:45');
/*!40000 ALTER TABLE `po_log_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `po_rincian_anggaran`
--

DROP TABLE IF EXISTS `po_rincian_anggaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `po_rincian_anggaran` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `po_id` int(11) NOT NULL,
  `kategori` varchar(100) NOT NULL,
  `deskripsi` varchar(255) NOT NULL,
  `nominal` decimal(15,2) NOT NULL DEFAULT 0.00,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `po_id` (`po_id`),
  CONSTRAINT `po_rincian_anggaran_ibfk_1` FOREIGN KEY (`po_id`) REFERENCES `po` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=68 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `po_rincian_anggaran`
--

LOCK TABLES `po_rincian_anggaran` WRITE;
/*!40000 ALTER TABLE `po_rincian_anggaran` DISABLE KEYS */;
/*!40000 ALTER TABLE `po_rincian_anggaran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `surat_masuk`
--

DROP TABLE IF EXISTS `surat_masuk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `surat_masuk` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nomor_surat` varchar(100) NOT NULL,
  `pengirim` varchar(255) DEFAULT NULL,
  `pt_cv` varchar(20) DEFAULT 'PT',
  `alamat_pengirim` text DEFAULT NULL,
  `pic_pengirim` varchar(100) DEFAULT NULL,
  `no_telp_pengirim` varchar(50) DEFAULT NULL,
  `email_pengirim` varchar(100) DEFAULT NULL,
  `tanggal_surat` date NOT NULL,
  `nama_pengirim` varchar(255) NOT NULL,
  `perihal` varchar(255) NOT NULL,
  `file_path` varchar(255) DEFAULT NULL,
  `layanan` varchar(100) NOT NULL DEFAULT 'opti',
  `status_ambil` enum('belum','sudah') NOT NULL DEFAULT 'belum',
  `id_order_layanan` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `created_by` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_sm_created_by` (`created_by`),
  KEY `idx_sm_order_layanan` (`id_order_layanan`),
  CONSTRAINT `fk_surat_masuk_order` FOREIGN KEY (`id_order_layanan`) REFERENCES `order_layanan` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `surat_masuk`
--

LOCK TABLES `surat_masuk` WRITE;
/*!40000 ALTER TABLE `surat_masuk` DISABLE KEYS */;
INSERT INTO `surat_masuk` VALUES (2,'43343535','Riau Andalan Pulp and Paper','PT','Pangkalan Kerinci, Kabupaten Pelalawan, Riau 28300','Ibu Maya Lestari','0813-8899-0011','maya.lestari@aprilasia.com','2026-08-26','e3t3t3','egddggdg','uploads/surat_masuk/1787714480_B.8.2 Konsultansi OPTI Lingkungan2 (1).pdf','opti','belum',NULL,'2026-08-26 10:21:20',9006);
/*!40000 ALTER TABLE `surat_masuk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `surat_penawaran`
--

DROP TABLE IF EXISTS `surat_penawaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `surat_penawaran` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `customer_id` int(11) DEFAULT NULL,
  `nomor_surat` varchar(100) DEFAULT NULL,
  `perihal` varchar(255) DEFAULT NULL,
  `tanggal_surat` date DEFAULT NULL,
  `jenis_layanan` varchar(100) DEFAULT NULL,
  `nama` varchar(255) DEFAULT NULL,
  `perusahaan` varchar(255) DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `permintaan_melalui` varchar(100) DEFAULT NULL,
  `pegawai_id` int(11) DEFAULT NULL,
  `kirim_ke` varchar(100) DEFAULT NULL,
  `bidang` varchar(100) DEFAULT NULL,
  `bidang_lainnya` varchar(255) DEFAULT NULL,
  `penjelasan` text DEFAULT NULL,
  `status` varchar(50) DEFAULT 'draft',
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `surat_penawaran`
--

LOCK TABLES `surat_penawaran` WRITE;
/*!40000 ALTER TABLE `surat_penawaran` DISABLE KEYS */;
/*!40000 ALTER TABLE `surat_penawaran` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_arsipuser`
--

DROP TABLE IF EXISTS `tb_arsipuser`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_arsipuser` (
  `id_user` int(11) NOT NULL AUTO_INCREMENT,
  `login` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `status` tinyint(1) DEFAULT NULL,
  `id_struktural` int(11) DEFAULT NULL,
  `nama_user` varchar(255) DEFAULT NULL,
  `dualogin` enum('Y','N') DEFAULT 'N',
  `no_hp` varchar(15) DEFAULT NULL,
  `bidang` varchar(20) DEFAULT NULL,
  `nama_avatar` varchar(30) DEFAULT NULL,
  `show_customers` enum('Y','N') DEFAULT 'Y',
  `kd_contoh_authen` varchar(20) DEFAULT NULL,
  `id_struktural_tim` int(11) NOT NULL DEFAULT 0,
  `id_struktural_tim_staf` bigint(20) DEFAULT NULL,
  `id_sicaper` varchar(60) DEFAULT NULL,
  `id_sicaper_katim` int(11) DEFAULT NULL,
  `id_sibangmin` varchar(60) DEFAULT NULL,
  `si_kalibrasi` varchar(60) DEFAULT NULL,
  `id_inspeksi` varchar(60) DEFAULT NULL,
  `id_goonline` varchar(255) DEFAULT NULL,
  `id_keuangan_bios` varchar(255) DEFAULT NULL,
  `id_arsip` varchar(60) DEFAULT NULL,
  `id_udara` varchar(60) DEFAULT NULL,
  `id_lph` varchar(30) DEFAULT NULL,
  `si_sertifikasi` varchar(30) DEFAULT NULL,
  `si_perjakin` varchar(30) DEFAULT NULL,
  `si_selport` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`id_user`)
) ENGINE=MyISAM AUTO_INCREMENT=168168169 DEFAULT CHARSET=latin1 ROW_FORMAT=COMPACT;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_arsipuser`
--

LOCK TABLES `tb_arsipuser` WRITE;
/*!40000 ALTER TABLE `tb_arsipuser` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_arsipuser` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_customer`
--

DROP TABLE IF EXISTS `tb_customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_customer` (
  `id_customer` int(11) NOT NULL AUTO_INCREMENT,
  `kodex_perusahaan` smallint(6) DEFAULT NULL,
  `nmcustomer` varchar(255) DEFAULT NULL,
  `pt_cv` enum('PT','CV') DEFAULT NULL,
  `alamatcustomer` varchar(255) DEFAULT NULL,
  `alamatcustomer_baru` varchar(255) DEFAULT '',
  `kode_provinsi` int(11) DEFAULT NULL,
  `kode_kabupaten` int(11) DEFAULT NULL,
  `kode_negara` int(11) DEFAULT NULL,
  `emailcustomer` varchar(45) DEFAULT NULL,
  `notelpcustomer` varchar(45) DEFAULT NULL,
  `nofaxcustomer` varchar(45) DEFAULT NULL,
  `contactperson` varchar(45) DEFAULT NULL,
  `nohpcontactperson` varchar(17) DEFAULT '',
  `id_propinsi` int(11) DEFAULT NULL,
  `kode_pos` varchar(5) DEFAULT NULL,
  `id_kabupaten` int(11) DEFAULT NULL,
  `id_negara` int(11) DEFAULT 0,
  `nipinput` varchar(45) DEFAULT NULL,
  `tglinput` datetime DEFAULT NULL,
  `id_jenis_industri` tinyint(3) DEFAULT 0,
  `id_jenis_perusahaan` int(11) DEFAULT NULL,
  `tglupdate` datetime DEFAULT NULL,
  `thn_register` year(4) DEFAULT NULL,
  `showhide` enum('show','hide') NOT NULL DEFAULT 'show',
  `showhide_sekertaris` enum('show','hide') NOT NULL DEFAULT 'show',
  `lokasi_pabrik` varchar(250) DEFAULT '',
  `updater` varchar(9) DEFAULT '',
  `id_layanan` tinyint(3) NOT NULL DEFAULT 1,
  `id_layanan_inspeksi` tinyint(3) DEFAULT 0,
  `id_layanan_uji_profisiensi` tinyint(3) DEFAULT 0,
  `id_layanan_kalibrasi` tinyint(3) DEFAULT 0,
  `id_layanan_sertifikasi` tinyint(3) DEFAULT 0,
  `id_layanan_optimalisasi` tinyint(3) DEFAULT 0,
  `id_layanan_standardisasi` tinyint(3) DEFAULT 0,
  `id_layanan_konsultansi` tinyint(3) DEFAULT 0,
  `id_layanan_pendampingan` tinyint(3) DEFAULT 0,
  `nama_pribadi` varchar(255) DEFAULT NULL,
  `contactperson_kalibrasi` varchar(45) DEFAULT NULL,
  `nohpcontactperson_kalibrasi` varchar(17) DEFAULT '',
  `contactperson_sertifikasi` varchar(45) DEFAULT NULL,
  `nohpcontactperson_sertifikasi` varchar(17) DEFAULT '',
  `emailcustomer_sertifikasi` varchar(60) DEFAULT NULL,
  `contactperson_pengujian` varchar(45) DEFAULT NULL,
  `nohpcontactperson_pengujian` varchar(17) DEFAULT '',
  `contactperson_profiensi` varchar(45) DEFAULT NULL,
  `nohpcontactperson_profiensi` varchar(17) DEFAULT '',
  `contactperson_opti` varchar(45) DEFAULT NULL,
  `nohpcontactperson_opti` varchar(17) DEFAULT '',
  `contactperson_konsultansi` varchar(45) DEFAULT NULL,
  `nohpcontactperson_konsultansi` varchar(17) DEFAULT '',
  `contactperson_pendampinganteknis` varchar(45) DEFAULT NULL,
  `nohpcontactperson_pendampinganteknis` varchar(17) DEFAULT '',
  `id_user_sertifikasi_penerima_order` int(11) DEFAULT 0,
  `id_user_sertifikasi_penerima_order_ih` int(11) DEFAULT NULL,
  `no_id_sertifikasi_lspro` int(11) DEFAULT 0,
  `no_id_sertifikasi_lse` int(11) DEFAULT 0,
  `no_id_sertifikasi_lve` int(11) DEFAULT 0,
  `no_id_sertifikasi_lsih` int(11) DEFAULT 0,
  `no_id_sertifikasi_verifikasi_tkdn` int(11) DEFAULT NULL,
  `kodex_perusahaan_hide` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_customer`)
) ENGINE=MyISAM AUTO_INCREMENT=2911 DEFAULT CHARSET=latin1 ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_customer`
--

LOCK TABLES `tb_customer` WRITE;
/*!40000 ALTER TABLE `tb_customer` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_customer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tb_surat_penawaran`
--

DROP TABLE IF EXISTS `tb_surat_penawaran`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tb_surat_penawaran` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `customer_id` int(11) DEFAULT NULL,
  `order_id` int(11) DEFAULT NULL,
  `nomor_surat` varchar(100) DEFAULT NULL,
  `perihal` varchar(255) DEFAULT NULL,
  `nominal_penawaran` decimal(15,2) DEFAULT 0.00,
  `tanggal_surat` date DEFAULT NULL,
  `jenis_layanan` varchar(100) DEFAULT NULL,
  `nama` varchar(255) DEFAULT NULL,
  `perusahaan` varchar(255) DEFAULT NULL,
  `alamat` text DEFAULT NULL,
  `permintaan_melalui` varchar(100) DEFAULT NULL,
  `pegawai_id` int(11) DEFAULT NULL,
  `kirim_ke` varchar(100) DEFAULT NULL,
  `bidang` varchar(100) DEFAULT NULL,
  `bidang_lainnya` varchar(255) DEFAULT NULL,
  `penjelasan` text DEFAULT NULL,
  `file_lampiran` varchar(255) DEFAULT NULL,
  `status` varchar(50) DEFAULT 'draft',
  `status_respon_klien` enum('draft','terkirim','nego','deal','batal') DEFAULT 'draft',
  `catatan_nego` text DEFAULT NULL,
  `disetujui_klien_at` datetime DEFAULT NULL,
  `dibuat_oleh` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tb_surat_penawaran`
--

LOCK TABLES `tb_surat_penawaran` WRITE;
/*!40000 ALTER TABLE `tb_surat_penawaran` DISABLE KEYS */;
/*!40000 ALTER TABLE `tb_surat_penawaran` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-28 16:14:44
